<!DOCTYPE html>
<!-- Wire, Copyright (C) 2024 Wire Swiss GmbH -->
<!-- <%= VERSION %> -->
<html id="wire-main-app">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="geoip" content="{{ country }}"/>
    <link href="/image/favicon.ico?<%= VERSION %>" type="image/x-icon" rel="shortcut icon" sizes="48x48"/>
    <link href="/image/meta/wire-icon-256.png?<%= VERSION %>" rel="icon" sizes="256x256" type="image/png"/>
    <link href="/image/meta/wire-icon-128.png?<%= VERSION %>" rel="icon" sizes="128x128" type="image/png"/>
    <link href="/image/meta/wire-icon-64.png?<%= VERSION %>" rel="icon" sizes="64x64" type="image/png"/>

    <meta property="og:title" content="<%= OPEN_GRAPH_TITLE %>"/>
    <meta property="og:description" name="description" content="<%= OPEN_GRAPH_DESCRIPTION %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= APP_BASE %>"/>
    <meta property="og:image" content="<%= OPEN_GRAPH_IMAGE_URL %>"/>

    <title><%= BRAND_NAME %></title>

    <style>
      html {
        line-height: 1.15;
        font-size: 16px;
        -webkit-text-size-adjust: 100%;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
      }

      header {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }

      main {
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        padding: 0 16px;
      }

      footer {
        height: 30px;
        justify-content: flex-end;
        margin: 0 0 18px 8px;
      }

      span {
        display: inline;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        text-transform: none;
      }

      h2 {
        display: block;
        font-size: 1.25rem;
        text-align: left;
        text-transform: none;
        line-height: 1.75rem;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;
      }

      h3 {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        text-transform: none;
        margin-bottom: 10px;
      }

      a {
        color: black;
        display: inline;
        font-size: 0.6875rem;
        font-weight: 600;
        text-align: left;
        cursor: pointer;
        transition: all 0.24s;
      }

      strong {
        font-weight: 800;
      }

      .content {
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding: 0 16px;
      }

      .textContent {
        margin: auto;
        position: relative;
        text-align: left;
        width: 100%;

        @media (min-width: 920px) {
          padding: 0;
          width: 888px;
        }
      }
    </style>
</head>


<body>
<div style="box-sizing: border-box;">
    <div style="display: flex; height: 100%; min-height: 100vh;">
        <div style="display: flex; flex-direction: column; min-height: 100vh; width: 100%;">
            <div class="content">
                <header style="height: 40px; margin-left: 8px; margin-top: 20px;">
                    <svg viewBox="0 0 78 25" width="71" height="23" aria-hidden="true" style="overflow: visible;">
                        <g>
                            <path xmlns="http://www.w3.org/2000/svg"
                                  d="M14.73 19.79a7.25 7.25 0 0 1-1.74-4.7V3.43a1.73 1.73 0 0 1 3.47 0v11.64a7.2 7.2 0 0 1-1.73 4.7zm13-4.7A7.32 7.32 0 0 1 16 20.95a8.94 8.94 0 0 0 2.18-5.88V3.44a3.46 3.46 0 1 0-6.93 0v11.64c0 2.25.87 4.3 2.24 5.88a7.4 7.4 0 0 1-11.77-5.88V.88H0v14.2a9.1 9.1 0 0 0 14.78 7.08 9.05 9.05 0 0 0 14.67-7.08V.88h-1.73v14.2zm6.92 8.57h1.74V.84h-1.74v22.82zM51.55.44a9.99 9.99 0 0 0-8.23 4.33V.84h-1.74v22.82h1.74V10.34c0-4.5 3.7-8.18 8.23-8.18V.44zM54.8 18.8a10.1 10.1 0 0 1 .59-13.68 10.23 10.23 0 0 1 13.75-.58L54.8 18.8zM71.6 4.54a11.97 11.97 0 0 0-17.44-.63 11.8 11.8 0 0 0 0 16.74 11.97 11.97 0 0 0 16.85 0l-1.23-1.21a10.23 10.23 0 0 1-13.75.58l7.17-7.13 8.4-8.35zm2.72-3.07v-.34h-1.88v.34h.74v1.9h.4v-1.9h.74zm2.8 1.9V1.14h-.56l-.64 1.75-.65-1.75h-.58v2.25h.39V1.55l.66 1.83h.33l.67-1.84v1.84h.39z"></path>
                        </g>
                    </svg>
                </header>
                <main style="flex: 1 1 0; padding-left: 8px; width: 100%;">
                    <div class="textContent">
                        <h2 data-uie-name="element-unsupported-headline">Wire doesn't support this browser</h2>
                        <h3 data-uie-name="element-unsupported-general">
                            To use Wire for web, download the latest version of <strong>Google Chrome, Mozilla Firefox</strong>,
                            or <strong>Microsoft Edge</strong>.
                        </h3>
                        <h3 data-uie-name="element-unsupported-settings">

                        </h3>
                        <h3 data-uie-name="element-unsupported-support-link">
                            <a rel="noopener noreferrer" target="_blank" style="font-size: 1rem;"
                               href="https://support.wire.com/hc/en-us/articles/202960551-What-do-I-need-to-use-Wire"
                            >Learn more about Wire’s system requirements</a>
                        </h3>
                    </div>
                </main>

                <footer>
                    <a style="text-transform: uppercase; text-decoration: none;" rel="noopener noreferrer"
                       href="https://wire.com">
                        wire.com
                    </a>
                    <span> · © Wire Swiss GmbH</span>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>
